<table class="table table-striped">
	
	<tr>
		<th>Name</th>
		<th>Location</th>
		<th># Attending</th>
		<th>Status</th>
	</tr>

	<tr>
		<td>Food Time</td>
		<td>Firebowl</td>
		<td>5</td>
		<td><span class="label label-success">Agreement</span></td>
	<tr>

	<tr>
		<td>Happy Hour</td>
		<td>Pending</td>
		<td>10</td>
		<td><span class="label label-important">No Agreement</span></td>
	</tr>

</table>